.ctn {
  width: 10rem;
  height: 5rem;
  background-color: rgb(160, 7, 145);
  border-radius: 50px;
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;

  h2 {
    color: white;
  }
}
