.roadmap-card {
  cursor: pointer;
  margin: 1rem 2rem;
  padding: 1rem 2rem;
  border-radius: 20px;
  border: 1px solid #eee;
  position: relative;
  width: 25rem;
  height: 20rem;

  display: flex;
  justify-content: space-between;

  padding-bottom: 3rem;
  &__left {
    padding: 1rem;

    &__img {
      margin: 1rem 0rem;
      padding: 1rem;
      height: 8rem;
      width: 8rem;
      border-radius: 100%;
      border: 1px solid #eee;
    }
  }
  &__right {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    &__title {
      font-size: 1.4rem;
      color: var(--text-title);
    }
    &__desc {
      font-size: 1rem;
      color: var(--text-desc);
    }
  }
  &__bottom {
    height: 3rem;
    position: absolute;
    background: var(--background);
    padding: 1rem;
    bottom: 0;
    width: 100%;
    left: 0;
    border-radius: 0px 0px 20px 20px;
  }
  transition: all ease-in-out 0.3s;

  &:hover {
    transform: scale(1.01);
  }

  &__modal {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    &__left {
      overflow-y: scroll;
      height: 80vh;
      width: 60vw;
    }
    &__right {
      width: 30vw;
    }
  }
}
